.background_r {
  position: absolute;
  width: 1440px;
  height: 1542px;
  left: 0px;
  top: 0px;

  background: floralwhite;
}

.wall_r {
  position: absolute;
  width: 1440px;
  height: 1322px;
  left: 0px;
  top: 191px;
}

/****************************topbar**************************/
.chefhat_r {
  position: absolute;
  width: 33.53px;
  height: 37.74px;
  left: 960px;
  top: 39.68px;

  transform: matrix(0.99, 0.22, -0.15, 0.98, 0, 0);
}

.search_r {
  position: absolute;
  width: 34px;
  height: 32px;
  left: 1241px;
  top: 21px;
}

.accountpic_r {
  position: absolute;
  width: 34.2px;
  height: 36px;
  left: 1383px;
  top: 18px;
}

.cartpic_r {
  position: absolute;
  width: 39px;
  height: 38px;
  left: 1378px;
  top: 79px;
}

.topbar_r {
  position: absolute;
  width: 1440px;
  height: 191px;
  left: 0px;
  top: 0px;
  background: #9F0202;
}

.delicipe_sign_r {
  position: absolute;
  width: 357px;
  height: 136px;
  left: 34px;
  top: 32px;
}

.topnav_r {
  overflow: hidden;
}

.topnav_r input[type=text] {
  float: right;
  padding: 6px;
  font-size: 22px;
  position: absolute;
  width: 220px;
  height: 34px;
  left: 1000px;
  top: 18px;

  background: #FFFFFF;
}

/* .topnav_r .search-container button:hover {
  
} */

.topnav_r .search-container_r button {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

.onetime_r {
  position: absolute;
  width: 225px;
  height: 42px;
  left: 638px;
  top: 19px;
  background: #9F0202;
  border-radius: 5px;
  border: #9F0202;
  color: white;
}

.rontine_r {
  position: absolute;
  width: 102px;
  height: 43px;
  left: 873px;
  top: 19px;
  background: #FFBC35;
  color: black;
  border-radius: 5px;
  border: #9F0202;
}

.account_r {
  position: absolute;
  width: 109px;
  height: 50px;
  left: 1274px;
  top: 12px;
  background: #9F0202;
  color: white;
  border: #9F0202;
}

.cart_r {
  position: absolute;
  width: 70px;
  height: 33px;
  left: 1305px;
  top: 79px;
  background: #9F0202;
  color: white;
  border: #9F0202;
}

/*************************** end of topbar ***********************/

/*************************** topnav **************************/

.home_r {
  position: absolute;
  width: 114px;
  height: 55px;
  left: 17px;
  top: 210px;
  background: #FFFFFF;
  border: 3px solid #F5B85C;
  box-sizing: border-box;
  border-radius: 18px;
  color: #F68787;
}

.maindish_r {
  position: absolute;
  width: 150px;
  height: 55px;
  left: 159px;
  top: 210px;
  background: #FFFFFF;
  border: 3px solid #FFBC35;
  border-radius: 18px;
  border: 3px solid #FFBC35;
  color: #F68787;
}

.dessert_r {
  position: absolute;
  width: 120px;
  height: 55px;
  left: 335px;
  top: 210px;
  background: #FFBC35;
  border: 3px solid #F5B85C;
  box-sizing: border-box;
  border-radius: 18px;
  color: white;
}

.howitwork_r {
  position: absolute;
  width: 180px;
  height: 55px;
  left: 483px;
  top: 210px;

  background: #FFFFFF;
  border: 3px solid #FFBC35;
  box-sizing: border-box;
  border-radius: 18px;
  color: #F68787;
}

.dessertbuttonpic_r {
  position: absolute;
  width: 38px;
  height: 39px;
  left: 429px;
  top: 245px;

}

/************ end of top nav ************/

/*************************** Date **************************/
.vectorfirst_r {
  position: absolute;
  width: 112px;
  height: 65px;
  left: 595px;
  top: 291px;

  background:url(../picture/vector1.svg) no-repeat;
  cursor:pointer;
  color: white;
  font-family: Archivo;
  font-size: 18px;
  font-weight: bold;
  border: unset;
  }

  .vectorfirst_r:active {
      background:url(../picture/vector1.svg) no-repeat;
  }

.vectorsecond_r {
  position: absolute;
  width: 122px;
  height: 65px;
  left: 678px;
  top: 291px;
  
  background:url(../picture/vector2.svg) no-repeat;
  cursor:pointer;
  color: white;
  font-family: Archivo;
  font-size: 18px;
  font-weight: bold;
  border: unset;
}

.vectorsecond_r:active {
  background:url(../picture/vector2.svg) no-repeat;
}

.vectorthird_r {
  position: absolute;
  width: 122px;
  height: 65px;
  left: 762px;
  top: 291px;

  color: white;
  cursor:pointer;
  background:url(../picture/vector2.svg) no-repeat;
  font-family: Archivo;
  font-size: 18px;
  font-weight: bold;
  border: unset;
}

.vectorthrid_r:active {
  background:url(../picture/vector2.svg) no-repeat;
}

/************************ end of Date ***********************/

/*********************** selector ********************/

.container_r {
  border-radius: 8px;
  border: 2px solid #F68787;

}

.cusinetext_r {
  position: absolute;
  width: 71px;
  height: 37px;
  left: 80px;
  top: 392px;

  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 48px;
  color: #000000;
}

.CUSINE_S_r {
  position: absolute;
  width: 152px;
  height: 33px;
  left: 156px;
  top: 392px;
  box-sizing: border-box;
  border-radius: 15px;
}

.Typesofdesserttext_r {
  position: absolute;
  width: 300px;
  height: 37px;
  left: 339px;
  top: 392px;

  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 48px;
  color: #000000;
}

.ALLTYPES_S_r {
  position: absolute;
  width: 152px;
  height: 33px;
  left: 517px;
  top: 392px;

  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}

.difficultytext_r {
  position: absolute;
width: 200px;
height: 32px;
left: 688px;
top: 392px;

font-family: Arvo;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 48px;
text-align: center;
color: #000000;
}

.LEVEL_S_r {
  position: absolute;
  width: 152px;
  height: 33px;
  left: 885px;
  top: 392px;

  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}

.pricetext_r {
  position: absolute;
  width: 150px;
  height: 32px;
  left: 1063px;
  top: 392px;
  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 48px;
  color: #000000;
}

.PRICE_S_r {
  position: absolute;
  width: 152px;
  height: 33px;
  left: 1195px;
  top: 392px;

  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}

/******************* end of selector ******************/

/**************** menu ****************/
.pannacotta_r {
  position: absolute;
  width: 443.02px;
  height: 316px;
  left: 18px;
  top: 440px;
}

.PANNACOTTA_r {
  position: absolute;
  width: 421px;
  height: 99px;
  left: 46px;
  top: 774px;

  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 48px;
  text-align: center;

  color: #000000;
}

.tiramisu_r {
  position: absolute;
  width: 382.5px;
  height: 255px;
  left: 536px;
  top: 500px;
}

.TIRAMISU_r {
  position: absolute;
  width: 421px;
  height: 99px;
  left: 507px;
  top: 774px;

  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 48px;
  text-align: center;

  color: #000000;
}

.cheesecake_r {
  position: absolute;
  width: 432.48px;
  height: 329px;
  left: 932px;
  top: 427px;
} 

.CHEESECAKE_r {
  position: absolute;
  width: 421px;
  height: 99px;
  left: 970px;
  top: 774px;

  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 48px;
  text-align: center;

  color: #000000;
}

.thaibanana_r {
  position: absolute;
  width: 388px;
  height: 255px;
  left: 80px;
  top: 983px;
}

.THAIBANANA_r {
  position: absolute;
  width: 421px;
  height: 99px;
  left: 44px;
  top: 1256px;

  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 48px;
  text-align: center;

  color: #000000;

}

.floating_r  {
  position: absolute;
  width: 374px;
  height: 256px;
  left: 543px;
  top: 983px;
}

.FLOATING_r {
  position: absolute;
  width: 421px;
  height: 99px;
  left: 512px;
  top: 1256px;

  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 48px;
  text-align: center;

  color: #000000;
}

.waffles_r {
  position: absolute;
  width: 384px;
  height: 255px;
  left: 989px;
  top: 983px;
}

.WAFFLES_r {
  position: absolute;
  width: 421px;
  height: 99px;
  left: 970px;
  top: 1256px;

  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 48px;
  text-align: center;

  color: #000000;
}

/************** ADD TO CART **************/

.PANNACOTTA_B_r {
  position: absolute;
  width: 149px;
  height: 45px;
  left: 185px;
  top: 878px;

  background: #9F0202;
  color: white;
  font-family: Arvo;
  font-size: 16px;
}

.TIRAMISU_B_r {
  position: absolute;
  width: 149px;
  height: 45px;
  left: 646px;
  top: 878px;

  background: #9F0202;
  color: white;
  font-family: Arvo;
  font-size: 16px;
}

.CHEESECAKE_B_r {
  position: absolute;
  width: 149px;
  height: 45px;
  left: 1100px;
  top: 878px;
  background: #9F0202;
  color: white;
  font-family: Arvo;
  font-size: 16px;
}

.THAIBANANA_B_r {
  position: absolute;
  width: 149px;
  height: 45px;
  left: 185px;
  top: 1363px;
  background: #9F0202;
  color: white;
  font-family: Arvo;
  font-size: 16px;
}

.FLOATING_B_r {
  position: absolute;
  width: 149px;
  height: 45px;
  left: 646px;
  top: 1363px;
  background: #9F0202;
  color: white;
  font-family: Arvo;
  font-size: 16px;
}

.WAFFLES_B_r {
  position: absolute;
  width: 149px;
  height: 45px;
  left: 1104px;
  top: 1363px;
  background: #9F0202;
  color: white;
  font-family: Arvo;
  font-size: 16px;
}

/*************** next page ****************/

.first_r {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 623px;
  top: 1450px;
  border-radius: 50px;
  background: #FFBC35;
  border: 3px solid #FFBC35;
  font-size: 20px;
}

.second_r {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 684px;
  top: 1450px;
  border-radius: 50px;
  background: #FFFFFF;
  border: 3px solid #FFBC35;
  box-sizing: border-box;
  font-size: 20px;
}

.nextpage_r {
  position: absolute;
  width: 70px;
  height: 45px;
  left: 745px;
  top: 1452px;
  background: #FFFFFF;
  border: 3px solid #FFBC35;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 20px;
}

/*************** bottombar ***************/

.bottomnav_r {
  overflow: hidden;
}

/* .topnav_r .search-container button:hover {
  
} */

.bottomnav_r .search-container_r button {
  float: right;
  font-size: 24px;
  cursor: pointer;
  border: #9F0202;

}

  
.EN_r {
  position: absolute;
  width: 51px;
  height: 38px;
  left: 1180px;
  top: 1563px;

  background: #FFBC35;
  border-radius: 5px;
}

.TH_r {
  position: absolute;
  width: 51px;
  height: 38px;
  left: 1231px;
  top: 1563px;
  background: #9F0202;
  color: white;border: unset;

}

.bottombar_r {
  position: absolute;
  width: 1440px;
  height: 108px;
  left: 0px;
  top: 1513px;

  background: #9F0202;
}

.QandA_r {
  position: absolute;
  width: 77px;
  height: 77px;
  left: 1307px;
  top: 1528px;
}
