.background {
  position: absolute;
  width: 1440px;
  height: 1542px;
  left: 0px;
  top: 0px;
  background: #FFE8CC;
}

.ingre {
  position: absolute;
  width: 258px;
  height: 636.6px;
  left: 0px;
  top: 507px;
}

.wallhome {
  position: absolute;
  width: 1440px;
  height: 1243px;
  left: 1px;
  top: 188px;
}

/****************************topbar**************************/
.chefhat {
  position: absolute;
  width: 33.53px;
  height: 37.74px;
  left: 840.62px;
  top: 39.68px;

  transform: matrix(0.99, 0.22, -0.15, 0.98, 0, 0);
}

.search {
  position: absolute;
  width: 34px;
  height: 32px;
  left: 1241px;
  top: 21px;
}

.accountpic {
  position: absolute;
  width: 34.2px;
  height: 36px;
  left: 1383px;
  top: 18px;
}

.cartpic{
  position: absolute;
  width: 39px;
  height: 38px;
  left: 1378px;
  top: 79px;
}

.topbar {
  position: absolute;
  width: 1440px;
  height: 191px;
  left: 0px;
  top: 0px;
  background: #9F0202;
}

.delicipe_sign {
  position: absolute;
  width: 357px;
  height: 136px;
  left: 34px;
  top: 32px;
}

.topnav {
  overflow: hidden;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  font-size: 22px;
  position: absolute;
  width: 220px;
  height: 34px;
  left: 1000px;
  top: 18px;

  background: #FFFFFF;
}

/* .topnav .search-container button:hover {
  
} */

.topnav .search-container button {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

.onetime {
  position: absolute;
  width: 225px;
  height: 42px;
  left: 638px;
  top: 19px;
  background: #FFBC35;
  border-radius: 5px;
  border: #9F0202;
}

.rontine {
  position: absolute;
  width: 102px;
  height: 43px;
  left: 873px;
  top: 19px;
  background: #9F0202;
  color: white;
  border: #9F0202;
}

.account {
  position: absolute;
  width: 109px;
  height: 50px;
  left: 1274px;
  top: 12px;
  background: #9F0202;
  color: white;
  border: #9F0202;
}

.cart {
  position: absolute;
  width: 70px;
  height: 33px;
  left: 1305px;
  top: 79px;
  background: #9F0202;
  color: white;
  border: #9F0202;
}

/*************************** end of topbar ***********************/

/*************************** topnav **************************/

.home {
  position: absolute;
  width: 114px;
  height: 55px;
  left: 17px;
  top: 210px;

  background: #FFBC35;
  border-radius: 18px;
  color: white;
  border: 3px solid #FFBC35;
}

.maindish {
  position: absolute;
  width: 150px;
  height: 55px;
  left: 159px;
  top: 210px;

  background: #FFFFFF;
  border: 3px solid #F5B85C;
  box-sizing: border-box;
  border-radius: 18px;
  color: #F68787;
}

.dessert {
  position: absolute;
  width: 120px;
  height: 55px;
  left: 335px;
  top: 210px;
  background: #FFFFFF;
  border: 3px solid #FFBC35;
  box-sizing: border-box;
  border-radius: 18px;
  color: #F68787;
}

.howitwork {
  position: absolute;
  width: 180px;
  height: 55px;
  left: 483px;
  top: 210px;

  background: #FFFFFF;
  border: 3px solid #FFBC35;
  box-sizing: border-box;
  border-radius: 18px;
  color: #F68787;
}

.homebuttonpic {
  position: absolute;
  width: 50px;
  height: 46.3px;
  left: 100px;
  top: 234px;
}

/************************ end of top nav ***********************/

/************************ bottom bar ******************************/

.bottomnav {
  overflow: hidden;
}

/* .topnav .search-container button:hover {
  
} */

.bottomnav .search-container button {
  float: right;
  font-size: 24px;
  cursor: pointer;
  border: #9F0202;
}

.EN {
  position: absolute;
  width: 51px;
  height: 38px;
  left: 1180px;
  top: 1481px;

  background: #FFBC35;
  border-radius: 5px;
}

.TH {
  position: absolute;
  width: 51px;
  height: 38px;
  left: 1231px;
  top: 1481px;
  background: #9F0202;
  color: white;
}

.bottombar {
  position: absolute;
  width: 1440px;
  height: 108px;
  left: 0px;
  top: 1431px;

  background: #9F0202;
}

.QandA {
  position: absolute;
  width: 77px;
  height: 77px;
  left: 1307px;
  top: 1446px;
  background: #9F0202;
}

/****************** end of bottom bar *****************************/

.text {
  /* position: absolute; */
  /* width: 198px;
  height: 22px;
  left: 646px;
  top: 28px; */

  /* font-family: Archivo; */
  /* font-style: normal;
  font-weight: normal; */
  font-size: 22px;
  line-height: 24px;
  /* display: flex; */
  align-items: center;
  text-align: center;

  color: #2F2828;
}

.daily_menu {
  position: absolute;
  width: 724px;
  height: 243px;
  left: 364px;
  top: 311px;
  border-radius: 15px;

  color: #000000;
}

.Everyday_Delicipy {
  position: absolute;
  width: 328px;
  height: 38px;
  left: 556px;
  top: 582px;
  
  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 43px;
  
  color: #000000;
}

.Detail {
  position: absolute;
width: 789px;
height: 60px;
left: 326px;
top: 633px;

font-family: atma;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 45px;
text-align: center;

color: #000000;
}

.checked1 {
position: absolute;
width: 99px;
height: 100px;
left: 534px;
top: 749px;
}

.checked2 {
position: absolute;
width: 100px;
height: 110px;
left: 671px;
top: 749px;
}

.checked3 {
  position: absolute;
  width: 120px;
  height: 100px;
  left: 804px;
  top: 749px;
}

.tabb {
  position: absolute;
  width: 1440px;
  height: 439px;
  left: 2px;
  top: 913px;

  background: #F2B28E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.Can’tfindallingredients {
  position: absolute;
  width: 136px;
  height: 90px;
  left: 415px;
  top: 941px;
  
  font-family: Atma;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 45px;
  text-align: center;
  
  color: #000000;  
}

.Can’tthinkofmenu {
  position: absolute;
  width: 121px;
  height: 90px;
  left: 666px;
  top: 941px;
  
  font-family: Atma;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 45px;
  text-align: center;
  
  color: #000000;
}

.Can’ttravelingtogrogery  {
  position: absolute;
  width: 160px;
  height: 90px;
  left: 905px;
  top: 941px;
  
  font-family: Atma;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 45px;
  text-align: center;
  
  color: #000000;
}

.Delicipecanhelp {
  position: absolute;
  width: 313px;
  height: 38px;
  left: 572px;
  top: 1037px;
  
  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 43px;
  
  color: #000000;
  
}

.ingredient {
  position: absolute;
  width: 223px;
  height: 256px;
  left: 318px;
  top: 1109px;
}

.recipe {
  position: absolute;
  width: 201px;
  height: 203px;
  left: 620px;
  top: 1109px;
}

.guide {
  position: absolute;
  width: 201px;
  height: 203px;
  left: 912px;
  top: 1109px;
}

