.background {
  position: absolute;
  width: 1440px;
  height: 1542px;
  left: 0px;
  top: 0px;

  background: floralwhite;
}

.wall {
  position: absolute;
  width: 1440px;
  height: 1243px;
  left: 0px;
  top: 191px;
}

/****************************topbar**************************/
.chefhat {
  position: absolute;
  width: 33.53px;
  height: 37.74px;
  left: 840.62px;
  top: 39.68px;

  transform: matrix(0.99, 0.22, -0.15, 0.98, 0, 0);
}

.search {
  position: absolute;
  width: 34px;
  height: 32px;
  left: 1241px;
  top: 21px;
}

.accountpic {
  position: absolute;
  width: 34.2px;
  height: 36px;
  left: 1383px;
  top: 18px;
}

.cartpic{
  position: absolute;
  width: 39px;
  height: 38px;
  left: 1378px;
  top: 79px;
}

.topbar {
  position: absolute;
  width: 1440px;
  height: 191px;
  left: 0px;
  top: 0px;
  background: #9F0202;
}

.delicipe_sign {
  position: absolute;
  width: 357px;
  height: 136px;
  left: 34px;
  top: 32px;
}

.topnav {
  overflow: hidden;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  font-size: 22px;
  position: absolute;
  width: 220px;
  height: 34px;
  left: 1000px;
  top: 18px;

  background: #FFFFFF;
}

/* .topnav .search-container button:hover {
  
} */

.topnav .search-container button {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

.onetime {
  position: absolute;
  width: 225px;
  height: 42px;
  left: 638px;
  top: 19px;
  background: #FFBC35;
  border-radius: 5px;
  border: #9F0202;
}

.rontine {
  position: absolute;
  width: 102px;
  height: 43px;
  left: 873px;
  top: 19px;
  background: #9F0202;
  color: white;
  border: #9F0202;
}

.account {
  position: absolute;
  width: 109px;
  height: 50px;
  left: 1274px;
  top: 12px;
  background: #9F0202;
  color: white;
  border: #9F0202;
}

.cart {
  position: absolute;
  width: 70px;
  height: 33px;
  left: 1305px;
  top: 79px;
  background: #9F0202;
  color: white;
  border: #9F0202;
}

/*************************** end of topbar ***********************/

/*************************** topnav **************************/

.home {
  position: absolute;
  width: 114px;
  height: 55px;
  left: 17px;
  top: 210px;
  background: #FFFFFF;
  border: 3px solid #F5B85C;
  box-sizing: border-box;
  border-radius: 18px;
  color: #F68787;
}

.maindish {
  position: absolute;
  width: 150px;
  height: 55px;
  left: 159px;
  top: 210px;
  background: #FFBC35;
  border-radius: 18px;
  color: white;
  border: 3px solid #FFBC35;
}

.dessert {
  position: absolute;
  width: 120px;
  height: 55px;
  left: 335px;
  top: 210px;
  background: #FFFFFF;
  border: 3px solid #FFBC35;
  box-sizing: border-box;
  border-radius: 18px;
  color: #F68787;
}

.howitwork {
  position: absolute;
  width: 180px;
  height: 55px;
  left: 483px;
  top: 210px;

  background: #FFFFFF;
  border: 3px solid #FFBC35;
  box-sizing: border-box;
  border-radius: 18px;
  color: #F68787;
}

.maindishbuttonpic {
  position: absolute;
  width: 52px;
  height: 45px;
  left: 280px;
  top: 237px;
}

/************************ end of top nav ***********************/

/*********************** selector ********************/

.container_maindish_second {
  border-radius: 8px;
  border: 2px solid #F68787;

}

.cusinetext {
  position: absolute;
  width: 71px;
  height: 37px;
  left: 12px;
  top: 312px;

  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 48px;
  color: #000000;
}

.CUSINE_S {
  position: absolute;
  width: 152px;
  height: 33px;
  left: 87px;
  top: 312px;
  box-sizing: border-box;
  border-radius: 15px;
}

.meattext {
  position: absolute;
  width: 71px;
  height: 37px;
  left: 260px;
  top: 312px;

  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 48px;
  color: #000000;
}

.ALLMEATS_S {
  position: absolute;
  width: 152px;
  height: 33px;
  left: 330px;
  top: 312px;

  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}

.dishtypetext {
  position: absolute;
  width: 123px;
  height: 37px;
  left: 502px;
  top: 312px;

  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 48px;
  color: #000000;
}

.DISHTYPE_S {
  position: absolute;
  width: 152px;
  height: 33px;
  left: 607px;
  top: 312px;

  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}

.difficultytext {
  position: absolute;
width: 200px;
height: 32px;
left: 767px;
top: 312px;

font-family: Arvo;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 48px;
text-align: center;
color: #000000;
}

.LEVEL_S {
  position: absolute;
  width: 152px;
  height: 33px;
  left: 965px;
  top: 312px;

  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}

.pricetext {
  position: absolute;
  width: 150px;
  height: 32px;
  left: 1137px;
  top: 312px;
  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 48px;
  color: #000000;
}

.PRICE_S {
  position: absolute;
  width: 152px;
  height: 33px;
  left: 1270px;
  top: 312px;

  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}

/******************* end of selector ******************/

.burger {
  position: absolute;
  width: 382px;
  height: 255px;
  left: 83px;
  top: 414px;  
}

.BURGER {
  position: absolute;
  width: 421px;
  height: 99px;
  left: 61px;
  top: 692px;

  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 48px;
  text-align: center;

  color: #000000;
}

.spicythree {
  position: absolute;
  width: 74px;
  height: 68px;
  left: 298px;
  top: 730px;
}

.sandwich {
  position: absolute;
  width: 382px;
  height: 255px;
  left: 533px;
  top: 415px;
}

.SANDWICH {
  position: absolute;
  width: 421px;
  height: 99px;
  left: 519px;
  top: 692px;

  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 48px;
  text-align: center;
  color: #000000;

}

.spicyone {
  position: absolute;
  width: 42px;
  height: 49px;
  left: 745px;
  top: 784px;
}

.cheesepizza {
  position: absolute;
  width: 382px;
  height: 255px;
  left: 981px;
  top: 414px;
}

.CHEESEPIZZA {
  position: absolute;
  width: 421px;
  height: 79px;
  left: 971px;
  top: 690px;
  
  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 48px;
  text-align: center;
  
  color: #000000;
}

/************** ADD TO CART **************/

.BURGER_B {
  position: absolute;
  width: 149px;
  height: 45px;
  left: 200px;
  top: 803px;

  background: #9F0202;
  color: white;
  font-family: Arvo;
  font-size: 16px;
}

.SANDWICH_B {
  position: absolute;
  width: 149px;
  height: 45px;
  left: 639px;
  top: 848px;
  background: #9F0202;
  color: white;
  font-family: Arvo;
  font-size: 16px;
}

.CHEESEPIZZA_B {
  position: absolute;
  width: 149px;
  height: 45px;
  left: 1097px;
  top: 803px;
  background: #9F0202;
  color: white;
  font-family: Arvo;
  font-size: 16px;
}

/*************** next page ****************/

.first {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 623px;
  top: 1373px;
  border-radius: 50px;
  background: #FFFFFF;
  border: 3px solid #FFBC35;
  font-size: 20px;
}

.second {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 684px;
  top: 1373px;
  border-radius: 50px;
  background: #FFBC35;
  border: 3px solid #FFBC35;
  box-sizing: border-box;
  font-size: 20px;
}

.nextpage {
  position: absolute;
  width: 70px;
  height: 45px;
  left: 745px;
  top: 1375px;
  background: #FFFFFF;
  border: 3px solid #FFBC35;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 20px;
}

/*************** bottombar ***************/

.bottomnav {
  overflow: hidden;
}

/* .topnav .search-container button:hover {
  
} */

.bottomnav .search-container button {
  float: right;
  font-size: 24px;
  cursor: pointer;
  border: #9F0202;

}

.EN {
  position: absolute;
  width: 51px;
  height: 38px;
  left: 1180px;
  top: 1481px;

  background: #FFBC35;
  border-radius: 5px;
}

.TH {
  position: absolute;
  width: 51px;
  height: 38px;
  left: 1231px;
  top: 1481px;
  background: #9F0202;
  color: white;
}

.bottombar {
  position: absolute;
  width: 1440px;
  height: 108px;
  left: 0px;
  top: 1431px;

  background: #9F0202;
}

.QandA {
  position: absolute;
  width: 77px;
  height: 77px;
  left: 1307px;
  top: 1446px;
}