.Line {
    position: absolute;
    width: 942px;
    height: 0px;
    left: 251px;
    top: 577px;
    border: 3px solid #9F0202;
}

.Create-New-Account {
    position: absolute;
    width: 189px;
    height: 22px;
    left: 251px;
    top: 534px;
    font-family: Arvo;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;    
    color: #000000;
}

.Delicipe {
    position: absolute;
    width: 231px;
    height: 86px;
    left: 247px;
    top: 425px;
}

.Thanks {
    position: absolute;
    width: 656px;
    height: 119px;
    left: 251px;
    top: 598px;
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.Box {
    position: absolute;
    width: 1040px;
    height: 345px;
    left: 200px;
    top: 405px;
    background: #FFFFFF;
}

.Note {
    position: absolute;
    width: 656px;
    height: 119px;
    left: 251px;
    top: 650px;
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.Email-Check {
    position: absolute;
    width: 656px;
    height: 119px;
    left: 251px;
    top: 700px;
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.Profile-Pic {
    position: absolute;
    width: 107px;
    height: 107px;
    left: 1302px;
    top: 211px;
}