.chefhat {
    position: absolute;
    width: 33.53px;
    height: 37.74px;
    left: 840.62px;
    top: 39.68px;
  
    transform: matrix(0.99, 0.22, -0.15, 0.98, 0, 0);
  }
  
  .search {
    position: absolute;
    width: 34px;
    height: 32px;
    left: 1241px;
    top: 21px;
  }
  
  .accountpic {
    position: absolute;
    width: 34.2px;
    height: 36px;
    left: 1383px;
    top: 18px;
  }
  
  .cartpic{
    position: absolute;
    width: 39px;
    height: 38px;
    left: 1378px;
    top: 79px;
  }
  
  .topbar {
    position: absolute;
    width: 1440px;
    height: 191px;
    left: 0px;
    top: 0px;
    background: #9F0202;
  }
  
  .delicipe_sign {
    position: absolute;
    width: 357px;
    height: 136px;
    left: 34px;
    top: 32px;
  }
  
  .topnav {
    overflow: hidden;
  }
  
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    font-size: 22px;
    position: absolute;
    width: 220px;
    height: 34px;
    left: 1000px;
    top: 18px;
  
    background: #FFFFFF;
  }
  
  /* .topnav .search-container button:hover {
    
  } */
  
  .topnav .search-container button {
    float: right;
    font-size: 24px;
    cursor: pointer;
  }
  
  .onetime {
    position: absolute;
    width: 225px;
    height: 42px;
    left: 638px;
    top: 19px;
    background: #FFBC35;
    border-radius: 5px;
    border: #9F0202;
  }
  
  .rontine {
    position: absolute;
    width: 102px;
    height: 43px;
    left: 873px;
    top: 19px;
    background: #9F0202;
    color: white;
    border: #9F0202;
  }
  
  .account {
    position: absolute;
    width: 109px;
    height: 50px;
    left: 1274px;
    top: 12px;
    background: #9F0202;
    color: white;
    border: #9F0202;
  }
  
  .cart {
    position: absolute;
    width: 70px;
    height: 33px;
    left: 1305px;
    top: 79px;
    background: #9F0202;
    color: white;
    border: #9F0202;
  }
  
  /*************************** end of topbar ***********************/
  
  /*************************** topnav **************************/
  
  .home {
    position: absolute;
    width: 114px;
    height: 55px;
    left: 17px;
    top: 210px;
  
    background: white;
    border-radius: 18px;
    color: #F68787;
    border: 3px solid #FFBC35;
  }
  
  .maindish {
    position: absolute;
    width: 150px;
    height: 55px;
    left: 159px;
    top: 210px;
    color: #F68787;
    background: #FFFFFF;
    border: 3px solid #F5B85C;
    box-sizing: border-box;
    border-radius: 18px;
  }
  
  .dessert {
    position: absolute;
    width: 120px;
    height: 55px;
    left: 335px;
    top: 210px;
    color: #F68787;
    background: #FFFFFF;
    border: 3px solid #FFBC35;
    box-sizing: border-box;
    border-radius: 18px;
  }
  
  .howitwork {
    position: absolute;
    width: 180px;
    height: 55px;
    left: 483px;
    top: 210px;
    color: #F68787;
    background: #FFFFFF;
    border: 3px solid #FFBC35;
    box-sizing: border-box;
    border-radius: 18px;
  }
  
  .homebuttonpic {
    position: absolute;
    width: 50px;
    height: 46.3px;
    left: 100px;
    top: 234px;
  }
  
  .maindishbuttonpic {
    position: absolute;
    width: 52px;
    height: 45px;
    left: 280px;
    top: 237px;
  }
  
  .dessertbuttonpic {
    position: absolute;
    width: 38px;
    height: 39px;
    left: 433px;
    top: 240px;
  }
  
  .howitworkbuttonpic {
    position: absolute;
    width: 52px;
    height: 51px;
    left: 645px;
    top: 240px;
  }
  
  /************************ end of top nav ***********************/
  
  /************************ bottom bar ******************************/
  
  .bottomnav {
    overflow: hidden;
  }
  
  /* .topnav .search-container button:hover {
    
  } */
  
  .bottomnav .search-container button {
    float: right;
    font-size: 24px;
    cursor: pointer;
    border: #9F0202;
  }
  
  .EN {
    position: absolute;
    width: 51px;
    height: 38px;
    left: 1180px;
    top: 1481px;
  
    background: #FFBC35;
    border-radius: 5px;
  }
  
  .TH {
    position: absolute;
    width: 51px;
    height: 38px;
    left: 1231px;
    top: 1481px;
    background: #9F0202;
    color: white;
  }
  
  .bottombar {
    position: absolute;
    width: 1440px;
    height: 108px;
    left: 0px;
    top: 1431px;
  
    background: #9F0202;
  }
  
  .QandA {
    position: absolute;
    width: 77px;
    height: 77px;
    left: 1307px;
    top: 1446px;
    background: #9F0202;
  }

  .bg {
    position: absolute;
    width: 1440px;
    height: 481px;
    left: 0px;
    top: 389px;
    
    background: #FFE8CC;
  }
  .profile-ac {

    position: absolute;
    width: 296px;
    height: 44px;
    left: 106px;
    top: 314px;
    
    font-family: Arvo;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-decoration-line: underline;
    
    color: #000000;
    
    
  }

  .profile-pic{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 121px;
    top: 438px;
    
  }

  .edit-button {
    position: absolute;
    width: 250px;
    height: 75px;
    left: 1036px;
    top: 922px;
    
    background: #9F0202;
    border-radius: 5px;

    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    
    color: #FFFFFF;
    
  }
  .edit-button:hover {
    background-color: rgb(209, 62, 62);
  }
  .name-p {
    position: absolute;
    
    left: 506px;
    top: 459px;
    
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    
    color: #000000;
    
  }
  .last-name-p {
    position: absolute;
    
    left: 506px;
    top: 526px;
    
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    
    color: #000000;
       
  }
  .address-p {
    position: absolute;
  
    left: 506px;
    top: 593px;
    
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    
    color: #000000;
    
  }
  .email-p {

    position: absolute;
  
    left: 506px;
    top: 709px;
    
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    
    color: #000000;
    
  }
  .tel-p {
    position: absolute;
   
    left: 506px;
    top: 776px;
    
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    
    color: #000000;
    
  }
  .name-i{
    position: absolute;

    left: 720px;
    top: 457px;
    
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #5c5c5c;
    
       
  }
  .last-name-i{

    position: absolute;
  
    left: 720px;
    top: 526px;
    
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #5c5c5c;
       
  }
  .address-i{
    position: absolute;
  
    left: 720px;
    top: 593px;
    
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    
    color: #5c5c5c;
    
  }
  .email-i{
    position: absolute;
  
    left: 720px;
    top: 709px;
    
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    
    color: #5c5c5c;
    
  }
  .tel-i{

    position: absolute;
 
    left: 720px;
    top: 776px;
    
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    
    color: #5c5c5c;
     
  }