.chefhat {
    position: absolute;
    width: 33.53px;
    height: 37.74px;
    left: 840.62px;
    top: 39.68px;
  
    transform: matrix(0.99, 0.22, -0.15, 0.98, 0, 0);
  }
  
  .search {
    position: absolute;
    width: 34px;
    height: 32px;
    left: 1241px;
    top: 21px;
  }
  
  .accountpic {
    position: absolute;
    width: 34.2px;
    height: 36px;
    left: 1383px;
    top: 18px;
  }
  
  .cartpic{
    position: absolute;
    width: 39px;
    height: 38px;
    left: 1378px;
    top: 79px;
  }
  
  .topbar {
    position: absolute;
    width: 1440px;
    height: 191px;
    left: 0px;
    top: 0px;
    background: #9F0202;
  }
  
  .delicipe_sign {
    position: absolute;
    width: 357px;
    height: 136px;
    left: 34px;
    top: 32px;
  }
  
  .topnav {
    overflow: hidden;
  }
  
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    font-size: 22px;
    position: absolute;
    width: 220px;
    height: 34px;
    left: 1000px;
    top: 18px;
  
    background: #FFFFFF;
  }
  
  /* .topnav .search-container button:hover {
    
  } */
  
  .topnav .search-container button {
    float: right;
    font-size: 24px;
    cursor: pointer;
  }
  
  .onetime {
    position: absolute;
    width: 225px;
    height: 42px;
    left: 638px;
    top: 19px;
    
    background: #FFBC35;
    border-radius: 5px;
    border: #9F0202;
  }
  
  .rontine {
    position: absolute;
    width: 102px;
    height: 43px;
    left: 873px;
    top: 19px;
    background: #9F0202;
    color: white;
    border: #9F0202;
  }
  
  .account {
    position: absolute;
    width: 109px;
    height: 50px;
    left: 1274px;
    top: 12px;
    background: #9F0202;
    color: white;
    border: #9F0202;
  }
  
  .cart {
    position: absolute;
    width: 70px;
    height: 33px;
    left: 1305px;
    top: 79px;
    background: #9F0202;
    color: white;
    border: #9F0202;
  }
  
  /*************************** end of topbar ***********************/
  
  /*************************** topnav **************************/
  
  .home {
    position: absolute;
    width: 114px;
    height: 55px;
    left: 17px;
    top: 210px;
  
    background: white;
    border-radius: 18px;
    color: #F68787;
    border: 3px solid #FFBC35;
  }
  
  .maindish {
    position: absolute;
    width: 150px;
    height: 55px;
    left: 159px;
    top: 210px;
    color: #F68787;
    background: #FFFFFF;
    border: 3px solid #F5B85C;
    box-sizing: border-box;
    border-radius: 18px;
  }
  
  .dessert {
    position: absolute;
    width: 120px;
    height: 55px;
    left: 335px;
    top: 210px;
    color: #F68787;
    background: #FFFFFF;
    border: 3px solid #FFBC35;
    box-sizing: border-box;
    border-radius: 18px;
  }
  
  .howitwork {
    position: absolute;
    width: 180px;
    height: 55px;
    left: 483px;
    top: 210px;
    color: #F68787;
    background: #FFFFFF;
    border: 3px solid #FFBC35;
    box-sizing: border-box;
    border-radius: 18px;
  }
  
  .homebuttonpic {
    position: absolute;
    width: 50px;
    height: 46.3px;
    left: 100px;
    top: 234px;
  }
  
  .maindishbuttonpic {
    position: absolute;
    width: 52px;
    height: 45px;
    left: 280px;
    top: 237px;
  }
  
  .dessertbuttonpic {
    position: absolute;
    width: 38px;
    height: 39px;
    left: 433px;
    top: 240px;
  }
  
  .howitworkbuttonpic {
    position: absolute;
    width: 52px;
    height: 51px;
    left: 645px;
    top: 240px;
  }
  
  /************************ end of top nav ***********************/
  
  /************************ bottom bar ******************************/
  
  .bottomnav {
    overflow: hidden;
  }
  
  /* .topnav .search-container button:hover {
    
  } */
  
  .bottomnav .search-container button {
    float: right;
    font-size: 24px;
    cursor: pointer;
    border: #9F0202;
  }
  
  .EN {
    position: absolute;
    width: 51px;
    height: 38px;
    left: 1180px;
    top: 1481px;
  
    background: #FFBC35;
    border-radius: 5px;
  }
  
  .TH {
    position: absolute;
    width: 51px;
    height: 38px;
    left: 1231px;
    top: 1481px;
    background: #9F0202;
    color: white;
  }
  
  .bottombar {
    position: absolute;
    width: 1440px;
    height: 108px;
    left: 0px;
    top: 1431px;
  
    background: #9F0202;
  }
  
  .QandA {
    position: absolute;
    width: 77px;
    height: 77px;
    left: 1307px;
    top: 1446px;
    background: #9F0202;
  }
  .BG {
    position: absolute;
    width: 1440px;
    height: 497px;
    left: 0px;
    top: 309px;
    
    background: #FFE8CC;
  }
  .welcome {
    position: absolute;
    width: 509px;
    height: 69px;
    left: 466px;
    top: 392px;
    
    font-family: Arvo;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    
    color: #585858;
    
  }
  .under-welcome {
    position: absolute;
    width: 490px;
    height: 22px;
    left: 475px;
    top: 461px;
    
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    
    color: #585858;
    
  }

  .help-box {
    position: absolute;
    width: 802px;
    height: 90px;
    left: 232px;
    top: 520px;
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    background: #FFFFFF; 
  }
  .search-in-help {
    position: absolute;
    width: 57px;
    height: 58px;
    left: 247px;
    top: 536px;
    
  }
  
  .top-email {
    position: absolute;
    width: 459px;
    height: 22px;
    left: 491px;
    top: 638px;
    
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    
    color: #585858;
    
  }
  
  .RS-button {
    position: absolute;
    width: 245px;
    height: 96px;
    left: 1034px;
    top: 520px;
    
    background: #9F0202;
    font-family: Arvo;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */
    
    cursor: pointer;
    color: #FFFFFF;
    
  }
  .email-box {
    position: absolute;
    width: 616px;
    height: 67px;
    left: 412px;
    top: 669px;
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    background: #FFFFFF;
  }
 
  .team-member {
    position: absolute;
    width: 509px;
    height: 69px;
    left: 466px;
    top: 914px;
    
    font-family: Arvo;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    
    color: #585858;
    
  }
  .khem{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 181px;
    top: 1024px;
    
    box-sizing: border-box;
  }
  .ai{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 431px;
    top: 1024px;

    box-sizing: border-box;
  }
  .oom{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 669px;
    top: 1024px;

    box-sizing: border-box;
  }
  .nune{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 918px;
    top: 1024px;

    box-sizing: border-box;
  }
  .net{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1169px;
    top: 1024px;

    box-sizing: border-box;
  }
  .khem-name{
    position: absolute;
    width: 187px;
    height: 44px;
    left: 137px;
    top: 1145px;
    
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    
    color: #000000;
  }
  .ai-name {
    position: absolute;
    width: 201px;
    height: 44px;
    left: 381px;
    top: 1145px;
    
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    
    color: #000000;
    
  }
  .oom-name{
    position: absolute;
    width: 124px;
    height: 45px;
    left: 657px;
    top: 1145px;
    
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    
    color: #000000;
  }
  .nune-name{
    position: absolute;
    width: 165px;
    height: 44px;
    left: 885px;
    top: 1145px;
    
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    
    color: #000000;
    
  }
  .net-name{
    position: absolute;
    width: 171px;
    height: 44px;
    left: 1133px;
    top: 1145px;
    
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    
    color: #000000;
    
  }