.background_time {
  position: absolute;
  width: 1440px;
  height: 1542px;
  left: 0px;
  top: 0px;

  background: floralwhite;
}

.wall {
  position: absolute;
  width: 1440px;
  height: 1243px;
  left: 0px;
  top: 191px;
}

/****************************topbar**************************/
.chefhat_time {
  position: absolute;
  width: 33.53px;
  height: 37.74px;
  left: 960.62px;
  top: 39.68px;

  transform: matrix(0.99, 0.22, -0.15, 0.98, 0, 0);
}

.search {
  position: absolute;
  width: 34px;
  height: 32px;
  left: 1241px;
  top: 21px;
}

.accountpic {
  position: absolute;
  width: 34.2px;
  height: 36px;
  left: 1383px;
  top: 18px;
}

.cartpic{
  position: absolute;
  width: 39px;
  height: 38px;
  left: 1378px;
  top: 79px;
}

.topbar_time {
  position: absolute;
  width: 1440px;
  height: 191px;
  left: 0px;
  top: 0px;
  background: #9F0202;
}

.delicipe_sign {
  position: absolute;
  width: 357px;
  height: 136px;
  left: 34px;
  top: 32px;
}

.topnav_time {
  overflow: hidden;
}

.topnav_time input[type=text] {
  float: right;
  padding: 6px;
  font-size: 22px;
  position: absolute;
  width: 220px;
  height: 34px;
  left: 1000px;
  top: 18px;

  background: #FFFFFF;
}

/* .topnav .search-container button:hover {
  
} */

.topnav_time .search-container_time button {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

.onetime_time {

  position: absolute;
  width: 225px;
  height: 42px;
  left: 638px;
  top: 19px;
  background: #9F0202;
  color: white;
  border: #9F0202;

}

.rontine_time {
  position: absolute;
  width: 102px;
  height: 43px;
  left: 873px;
  top: 19px;
  background: #FFBC35;
  color: black;
  border-radius: 5px;
  border: #9F0202;
}

.account {
  position: absolute;
  width: 109px;
  height: 50px;
  left: 1274px;
  top: 12px;
  background: #9F0202;
  color: white;
  border: #9F0202;
}

.cart {
  position: absolute;
  width: 70px;
  height: 33px;
  left: 1305px;
  top: 79px;
  background: #9F0202;
  color: white;
  border: #9F0202;
}

/*************************** end of topbar ***********************/

/*************************** topnav **************************/

.home_maindish {
  position: absolute;
  width: 114px;
  height: 55px;
  left: 17px;
  top: 210px;
  background: #FFFFFF;
  border: 3px solid #F5B85C;
  box-sizing: border-box;
  border-radius: 18px;
  color: #F68787;
}

.maindish_maindish {
  position: absolute;
  width: 150px;
  height: 55px;
  left: 159px;
  top: 210px;
  background: #FFBC35;
  border-radius: 18px;
  color: white;
  border: 3px solid #FFBC35;
}

.dessert_maindish {
  position: absolute;
  width: 120px;
  height: 55px;
  left: 335px;
  top: 210px;
  background: #FFFFFF;
  border: 3px solid #FFBC35;
  box-sizing: border-box;
  border-radius: 18px;
  color: #F68787;
}

.howitwork_maindish {
  position: absolute;
  width: 180px;
  height: 55px;
  left: 483px;
  top: 210px;

  background: #FFFFFF;
  border: 3px solid #FFBC35;
  box-sizing: border-box;
  border-radius: 18px;
  color: #F68787;
}

.maindishbuttonpic {
  position: absolute;
  width: 52px;
  height: 45px;
  left: 280px;
  top: 237px;
}


/************************ end of top nav ***********************/


/************************ bottom bar ******************************/

.bottomnav {
    overflow: hidden;
}


/* .topnav .search-container button:hover {
  
} */

.bottomnav .search-container button {
    float: right;
    font-size: 24px;
    cursor: pointer;
    border: #9F0202;
}

.EN {
    position: absolute;
    width: 51px;
    height: 38px;
    left: 1180px;
    top: 1481px;
    background: #FFBC35;
    border-radius: 5px;
}

.TH {
    position: absolute;
    width: 51px;
    height: 38px;
    left: 1231px;
    top: 1481px;
    background: #9F0202;
    color: white;
}

.bottombar {
    position: absolute;
    width: 1440px;
    height: 108px;
    left: 0px;
    top: 1431px;
    background: #9F0202;
}

.QandA {
    position: absolute;
    width: 77px;
    height: 77px;
    left: 1307px;
    top: 1446px;
    background: #9F0202;
}


/****************** end of bottom bar *****************************/
.calendar_time {
    position: absolute;
    left: 391px;
    top: 536px;
}

.btn {
    background-color: #2196F3;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.dropdown:hover .dropdown-content {
    display: block;
}

.btn:hover,
.dropdown:hover .btn {
    background-color: #0b7dda;
}

.container_time {
    border-radius: 8px;
    border: 2px solid #F68787;
}

.timeslottext_time_1 {
    position: absolute;
    width: 100px;
    height: 37px;
    left: 400px;
    top: 50px;
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 48px;
    color: #000000;
    background: #9F0202;
    color: white;
    border: #9F0202;

}

.next_time {
    position: absolute;
    width: 100px;
    height: 37px;
    left: 900px;
    top: 650px;
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 48px;
    color: #000000;
    background: #9F0202;
    color: white;
    border: #9F0202;

}
.timeslottext_time {
    position: absolute;
    width: 100px;
    height: 37px;
    left: 400px;
    top: 50px;
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 48px;
    color: #000000;
}

.TIMESLOT_time {
    position: absolute;
    width: 205px;
    height: 33px;
    left: 500px;
    top: 50px;
    box-sizing: border-box;
    border-radius: 15px;
}

.textTime_time {
    position: absolute;
width: 546px;
height: 120px;
left: 280px;
top: 964px;

font-family: Arvo;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;

color: #404040;

}