.menu {
  background-color: maroon;
  text-align: center;
  padding: 8%;
  line-height: 18.75px;
}

h5{
    font-size: 25px;
}

h6{
  font-size: 22.5px;
}

span {
  display: block;
}

.grid-containerSearch {
  display: grid;
  grid-template-areas:
    'auto auto auto auto auto';
  grid-gap: 10px;
  background-color: darksalmon;
  padding: 10px;
}

.grid-itemSearch {
  background-color: rgb(240, 222, 222);
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

.grid-container {
  display: grid;
  grid-gap: 20px 20px;
  grid-template-columns: auto auto auto;
  background-color: maroon;
  padding: 20px;
}

.grid-item {
  background-color:wheat;
  font-size: 30px;
  text-align: center;
}

.pagination {
  padding: 5%;
  background-color: maroon;
  display: inline-block;
}

.pagination a {
  background-color: whitesmoke;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.next {
  background-color: #ddd;
  color: white;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; 
}

.select-selected {
  background-color: DodgerBlue;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}