.Fisish {
    position: absolute;
    width: 111px;
    height: 44px;
    left: 259px;
    top: 1296px;   
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}

.City {
    position: absolute;
    width: 597px;
    height: 44px;
    left: 325px;
    top: 598px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #B3B3B3;
}

.Province {
    position: absolute;
    width: 597px;
    height: 44px;
    left: 325px;
    top: 658px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #B3B3B3;
}

.Postal-Code {
    position: absolute;
    width: 597px;
    height: 44px;
    left: 325px;
    top: 718px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #B3B3B3;
}

.Tel-box {
    position: absolute;
    width: 597px;
    height: 44px;
    left: 325px;
    top: 778px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.Lastname-box {
    position: absolute;
    width: 597px;
    height: 44px;
    left: 325px;
    top: 478px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.Address-box {
    position: absolute;
    width: 597px;
    height: 44px;
    left: 325px;
    top: 538px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.Allergy_01 {
    position: absolute;
    width: 597px;
    height: 44px;
    left: 325px;
    top: 1046px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.Allergy_02 {
    position: absolute;
    width: 597px;
    height: 44px;
    left: 325px;
    top: 1106px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.Allergy_03 {
    position: absolute;
    width: 597px;
    height: 44px;
    left: 325px;
    top: 1166px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.Allergy-Ingredients {
    position: absolute;
    width: 136px;
    height: 60px;
    left: 140px;
    top: 1053px;
    font-family: Arvo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.Password-box {
    position: absolute;
    width: 597px;
    height: 44px;
    left: 325px;
    top: 942px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}
